.archive-header{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	&:after{
		content: '';
		position: absolute;
		inset: 0;
		background: rgba($gray-light, .85);
		z-index: 1;
	}

	&__content{
		z-index: 2;
	}
}