.process{
	position: relative;
	padding-bottom: 0;
	list-style: none;

	&__item{
		position: relative;
		align-items: flex-end;
		margin-bottom: 2rem;

		&:last-child{
			&:after{
				display: none;
			}
		}

		@include media-breakpoint-up(md){
			margin-bottom: 0;

			&:nth-child(even){
				align-items: flex-start;
				margin-bottom: 0;
				text-align: right;
			}
		}

		&:before{
			content: ''; 
			position: absolute;
			height: .75rem;
			width: .75rem;
			left: .75rem;
			top: 50%;
			transform: translateY(-50%);
			background-color: $green;
			z-index: 2;

			@include media-breakpoint-up(md){
				&{
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}

		&:after{
			content: '';
			position: absolute;
			width: .25rem;
			height: calc(100% + 2rem);
			top: 50%;
			left: 1rem;
			background-color: $white-green;
			
			@include media-breakpoint-up(md){
				height: 100%;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	@include media-breakpoint-up(md){
		&__item:nth-child(even) &__header{
			justify-content: end;
		}
	}
}